*.pyc
*.swp
*.xls
*.csv
*.fai
*.png
*.pdf
*.bed
*.svg
.DS_Store
.vscode/
.tox/
.python-version
.coverage
venv/
output/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
